/*! HTML5 Boilerplate v9.0.0-RC1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   html, body {
  height:100%
}

html{
  color:#eeefda;
  font-size: 16px;
  line-height:1.4;
}

body{
  background-color: #152a3e;
  font-family: 'Noto Sans Display', sans-serif;
}

h1 {
  font-family: 'Noto Sans Display', sans-serif;
}

h2 {
  font-family:'Seaweed Script', cursive;
  font-size: 4.3em;
  text-align: center;
}

h3 {
  font-family: 'Noto Sans Display', sans-serif;
}

h4 {
  font-family: 'Noto Sans Display', sans-serif;
}

p {
  font-size: 1em;
  font-family: 'Noto Sans Display', sans-serif;
}

img {
  display:flex;
  width: 80%;
  align-items: center;
  justify-content: center;
}

.content-wrapper {
  margin-top: 50px;
  margin-bottom: 50px;
}

header {
  display:flex;
  background-color:#152a3e; 
}

header nav {
  padding-top: 20px;
  padding-bottom: 20px;
}

li {
  display:inline-block;
  font-size: 1.2em;
}

a {
  color:#ffffff;
  text-decoration: none;
  padding: 10px;
}

header nav ul {
  list-style-type: none;
  text-align:center;
  margin: 0;
  padding: 0;
}

header .content-wrapper {
  width:100%;
  margin-bottom: 30px;
  margin-top: 40px;
}

.hero-image {
  background:url("../img/self.JPEG") no-repeat;
  background-position: center;
  background-size: cover;
  position:relative;
  height:50%;
  width:100%;
  display: flex;
  justify-content:right;
  flex-flow:row wrap;
  text-align: right;
  margin-top: 30px;
  margin-bottom: 50px;
}
.hero-text {
  color:#152a3e;
  margin-right: 10px;
}

.hero-text h1 {
  color:#152a3e;
  font-family:'Seaweed Script', cursive;
  font-size: 4em;
  margin-right: 15px;
  margin-bottom: .5em;
}

.hero-text h2 {
  font-family: 'Noto Sans Display', sans-serif;
  text-align: right;
  font-size: 1.6em;
}

#projects {
  background: #cac691;
  color:#152a3e; 
}

#projects .content-wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 20px;
}

#projects .third-width {
  text-align: center;
  background: #152a3e;
  color:#cac691;
  margin-bottom: 80px;
  margin-top:40px;
  padding: 40px 10px 50px 10px;
  border-radius: 5px;
  box-shadow: 10px 15px rgba(0,0,0,.1), 0 23px 30px rgba(17,24,39,.2);
}

#projects img {
  border: 5px solid #c2c4c2;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0px;
  width: 70%;
  border-radius: 5px;
}

#projects h2 {
  font-family:'Seaweed Script', cursive;
  font-size:4em;
  color:#152a3e;
  margin-bottom: 30px;
}

#projects h3 {
  color:#cac691;
  font-size: 1.75em;
  margin-top: 20px;
}

#projects h4{
  font-size: 1.2em;
  margin-bottom: 10px;
}

#projects p {
  color: #c2c4c2;
  font-size: 1em;
}

#projects ul{
  margin-top: 0px;
  padding-left: 0px;
}

#projects .skills-used li {
  background-color: #c2c4c2;
  color:#152a3e;
  font-size: 1em;;
  line-height: 1.4;
  font-weight: bold;
  border-radius: 3px;
  margin: 5px 3px;
  padding: 1px 5px;
}

#projects .skills-used {
  margin-bottom: 30px;
}
#projects a.project-link {
  color:#152a3e;
  padding: 5px 16px;
  margin-bottom: 10px;
}

#projects .project-link {
  font-size: 1em;
  font-weight: bold;
  border-radius: 12px;
  color:#152a3e;
  background-color: #cac691;
}

#skills {
  padding:20px;
}

#skills .skills-wrapper {
  margin-bottom: 80px;
}

#skills .skills-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  text-align: center;
}

#skills .skill {
  text-align: center;
  width: 40%;
  padding: 10px;
  display: block;
}

#skills h2 {
  font-size: 3.4em;
  text-align: center;
  padding-bottom: 12px;
}

#skills h3 {
  font-size: 1.75em;
  text-align: center;
}

#skills p {
  font-size: 1.3em;
}

#skills ul {
  text-align: center; 
  padding-left: 0px; 
}

#skills li {
  display:inline-block;
  color:#cac691;
  text-decoration: none;
  font-size: 1.2em;
  padding: 10px;
}

#skills i.fa-brands {
  color:#cac691;
  font-size:5em;
}

#skills i.fa-solid {
  color:#cac691;
  font-size:5em;
}

#about {
  background-color: #cac691;
  color:#152a3e;
  padding: 40px;
  text-align: center;
}

#about h2 {
  font-size: 3.4em;
  padding-bottom: 10px;
  /*border-bottom:1px solid #152a3e;*/
}

#about p {
  padding-top: 10px;
}

#about img {
  border: 4px solid #152a3e;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0px;
  width: 70%;
  border-radius: 5px;
  box-shadow: 10px 15px rgba(0,0,0,.2), 0 23px 30px rgba(17,24,39,.2);
}

#about .name {
  font-family: 'Seaweed Script', cursive;
  font-size: 3em;
}

#about .intro {
  font-size: 1.7em;
}

#about .info .hobbies{
  font-size: 18px;
}

#contact {
  padding: 30px 0;
}

#contact .content-wrapper {
  text-align: center;
}

#contact .half-width {
  padding: 20px;
}

#contact h2 {
  font-size: 3.4em;
}

#contact h3 {
  padding-top: 20px;
}

#contact p {
  padding: 70px 40px 10px 40px;
}

#contact ul {
  padding-left: 0;
}

#contact i {
  font-size: 2.3em;
  padding: 10px;
}

/*----------TABLET----------*/
@media screen and (min-width: 768px) {

  header li {
    font-size: 2em;
    padding-left: 25px;
    padding-right: 25px;
  }

  .hero-text h1 {
    font-size: 8.5em;
    padding-right: 25px;
  }

  .hero-text h2 {
    font-size: 3.5em;
  }

  #projects .third-width {
    padding: 100px 20px;
    margin-left:20px;
    margin-right: 20px;
  }

  #projects h2 {
    font-size: 5em;
  }

  #projects h3 {
    font-size: 2.3em;
  }

  #projects h4 {
    font-size: 1.5em;
  }

  /*#projects p {
    font-size: 1em;
  }

  #projects .skills-used li {
    font-size: 1.7em;
    line-height: 1.3em;
    padding: 2px 20px;
  }
*/
  #projects .project-link {
    font-size: 1.5em;
    padding: 17px 25px;
  }

  #skills .skill {
    text-align: center;
    width: 17%;
    padding: 10px;
    display: block;
  }

  #skills h2 {
    font-size: 5em;
  }
   
  #skills p {
    font-size: 1.5em;
  }

  #skills li {
    font-size: 1.5em;
    padding: 20px;
  }
 
  #about h2 {
    font-size: 5em;
    margin-bottom: 25px;
  }

  #about img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0px;
    width: 120%;
    margin:20px;
    margin-left: 10px;
  }
  
  #about .half-width-1 {
    display: block;
  }

  #about .half-width-2 {
    display:block;
    justify-content: space-around;
    padding-left: 90px;
  }

  #about .half-width-wrapper{
    display:flex;
    flex-flow:nowrap row;
  }

  #about .name {
    font-family: 'Seaweed Script', cursive;
    font-size: 3em;
    flex-flow: row;
    margin-top: 15px;
    margin-bottom:20px;
  }

  #about .intro {
    font-size: 1.3em;
  }
  
  #about .info .hobbies {
    font-size: 1em;
  }

  #contact h2 {
    font-size: 5em;
  }

  #contact h3 {
    font-size: 2.3em;
  }
  
  #contact a {
    font-size: 1.5em;
  }
  
  #contact i {
    font-size: 2.5em;
    padding: 30px;
  }
}

/*---------- DESKTOP ----------*/
@media (min-width: 1200px) {
  header {
    margin-bottom: 60px;
  }

  header li {
    font-size: 2.8em;
    padding-left: 35px;
    padding-right: 35px;
  }

  .hero-text h1 {
    font-size: 12em;
    padding-right: 40px;
  }

  .hero-text h2 {
    font-size: 4em;
  }

  #projects .full-width {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    text-align: center;
  }

  #projects .third-width {
    flex-basis: 28%;
    padding: 50px 10px;
  }

  #projects img {
    width: 80%;
  }

  #projects li {
    font-size: 1.2em;
    padding: 5px 10px;
  }
  
  #projects h2 {
    font-size: 8em;
  }

  #projects h3 {
    font-size: 1.8em;
  }

  #projects h4 {
      font-size: 1.5em;
  }

  #projects p {
    font-size: 1em;
  }

  #project .skills-used li {
    font-size: 1em;
  }
  #projects .project-link {
    font-size: 1.5em;
    margin-top: 25px;
    padding: 10px 20px;
  }

  #skills {
    margin: 80px 10px;
  }
  
  #skills h2 {
    font-size: 7.5em;
    text-align: center;
    padding: 0;
    margin-bottom: 30px;
  }
  
  #skills h3 {
    font-size: 2em;
    text-align: center;
  }
  
  #skills h5 {
    text-align: center;
    width: 17%;
    padding: 5px;
    display: block;
  }

  #skills p {
    font-size: 1.5em;
  }
  
  #skills ul {
    text-align: center; 
    padding-left: 0px; 
  }
  
  #skills li {
    font-size: 1.5em;
    padding: 20px;
  }
  
  #skills i {
    color:#cac691;
    font-size:4em;
  }
  
  #about .content-wrapper{
    margin: 60px 20px;
  }

  #about h2 {
    font-size: 8em;
  }

  #about .name {
    font-family: 'Seaweed Script', cursive;
    font-size: 4em;
    flex-flow: row;
    margin-top: 15px;
    margin-bottom:20px;
  }

  #about .intro {
    font-size: 1.8em;
  }
  
  #about .info {
    font-size: 1.5em;
  }

  #about .hobbies {
    font-size: 1.5em;
  }

  #contact h2 {
    font-size: 5em;
  }

  #contact h3 {
    font-size: 2.3em;
  }
  
  #contact a {
    font-size: 1.5em;
  }
  
  #contact i {
    font-size: 2.5em;
    padding: 30px;
  }
}

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */


@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

